.items-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 0;
}

.items-grid .item, .product-item {
  width: calc(100% / 3 - 15px);
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 8px rgba(0,0,0,.3);
  margin-top: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  text-decoration: none;
}
.items-grid .item:not(:nth-child(3n)), .product-item:not(:nth-child(3n)) {
  margin-right: 15px;
}

.items-grid .item:hover .item-title, .product-item:hover .item-title,
.items-grid .item:focus .item-title, .product-item:focus .item-title{
  background: rgba(0,0,0,.8);

}

.items-grid .item .item-title, .product-item .item-title {
  margin: 0;
  background: rgba(0,0,0,.4);
  width: 100%;
  text-align: center;
  padding: 10px;
  transition: all .3s ease;
}

.badge {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 10px;
  top: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 16px;
}

.badge.badge-sale {
  background: red;
  color: #fff;
}

.badge.badge-price {
  background: #ccc;
  color: #111;
  width: 58px;
  height: 58px;
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  .items-grid .item, .product-item{width: calc(100% / 2 - 15px);}
  .items-grid .item:not(:nth-child(2n)), .product-item:not(:nth-child(2n)) {margin-right: 15px;}
}

@media screen and (max-width: 576px) {
  .items-grid .item, .product-item {width: 100%; margin-right: 0!important}
}



.single-item {
  display:flex;
  align-items: flex-start;
  margin: 5rem 0;
}
.single-item .gallery {
  max-width: 600px;
  width: calc(100% - 30px);
  margin: 0 0 0 30px;
  position: relative;
  background: #f9f9f9;

}

.single-item .gallery .list {
  display: flex;
  overflow-x: auto;
}

.single-item .gallery .list .gallery-item {
  width: 100%;
  height: 450px;
  flex: none;
}
.single-item .gallery .list .gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.single-item .info {
  width: 100%;
  padding: 4rem;
  background: #f9f9f9;
}

.single-item .youtube_url {
  width: 100%;
  height: 350px;
}

.single-item .price {
  font-size: 20px;
}
.single-item .price .price-old {
  font-size: 16px;
  color: #555;
  text-decoration: line-through;
}

.title-head {
  margin-top: 5rem !important;
  text-align: center;
}


@media screen and (min-width: 992px) {
  .md-none {display: none}
}

@media screen and (max-width: 991px) {

  .single-item {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    max-width: 650px;
    width: 100%;
    margin: 5rem auto;
  }

  .single-item .gallery {
    max-width: unset;
    width: 100%;
    margin: 0 0 30px 0px;
  }
}

@media screen and (max-width: 576px) {
  .single-item .info {
    padding: 2rem;
  }
  .single-item .gallery .list .gallery-item,
  .single-item .youtube_url {
    height: 260px;
  }
}



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666; 
}